<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>login_request</key>
	<string>kuaidian-sellerapp/seller/login</string>
	<key>get_userinfo</key>
	<string>kuaidian-sellerapp/seller/info</string>
	<key>get_order</key>
	<string>kuaidian-sellerapp/order/info</string>
	<key>get_order_like</key>
	<string>kuaidian-sellerapp/order/info/like</string>
	<key>logout_request</key>
	<string>kuaidian-sellerapp/seller/logout</string>
	<key>get_phone_code</key>
	<string>kuaidian-sellerapp/seller/info/phone</string>
	<key>modify_order_status</key>
	<string>kuaidian-sellerapp/seller/order/info/confirm</string>
	<key>modify_user_info</key>
	<string>kuaidian-sellerapp/seller/info/u</string>
	<key>get_userinfo - 8</key>
	<string>kuaidian-sellerapp/seller/info/13</string>
	<key>get_userinfo - 9</key>
	<string>kuaidian-sellerapp/seller/info/13</string>
	<key>get_userinfo - 10</key>
	<string>kuaidian-sellerapp/seller/info/13</string>
	<key>get_userinfo - 11</key>
	<string>kuaidian-sellerapp/seller/info/13</string>
	<key>get_userinfo - 12</key>
	<string>kuaidian-sellerapp/seller/info/13</string>
</dict>
</plist>
